In [6]:
import tushare as ts

ts.get_hist_data('600848') #一次性获取全部日k线数据

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-03-26,18.45,18.68,18.60,18.44,20017.00,0.15,0.81,18.526,18.554,18.744,15904.40,18990.30,24289.17,0.16
2021-03-25,18.63,18.67,18.45,18.42,14183.00,-0.13,-0.70,18.492,18.543,18.779,15674.92,20430.05,24926.92,0.12
2021-03-24,18.40,18.59,18.58,18.30,20980.00,0.13,0.70,18.544,18.536,18.821,15672.79,21300.61,26284.37,0.17
2021-03-23,18.59,18.68,18.45,18.44,12394.00,-0.10,-0.54,18.570,18.505,18.838,16285.99,21412.21,26483.02,0.10
2021-03-22,18.56,18.75,18.55,18.50,11948.00,0.12,0.65,18.622,18.528,18.864,19729.79,22975.24,27055.37,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-16,17.90,18.16,16.73,16.58,37247.25,-1.53,-8.38,17.974,17.974,17.974,61826.43,61826.43,61826.43,0.56
2018-10-15,17.83,18.75,18.26,17.83,48822.26,0.43,2.41,18.285,18.285,18.285,67971.22,67971.22,67971.22,0.73
2018-10-12,16.15,18.40,17.83,16.15,66546.89,0.28,1.59,18.293,18.293,18.293,74354.21,74354.21,74354.21,1.00
2018-10-11,18.21,18.22,17.55,17.55,64012.62,-1.95,-10.00,18.525,18.525,18.525,78257.87,78257.87,78257.87,0.96
2018-10-10,19.50,20.50,19.50,19.50,92503.11,-2.17,-10.01,19.500,19.500,19.500,92503.11,92503.11,92503.11,1.38

In [7]:
import tushare as ts

ts.set_token('c9eba6fe55b2a6f414bb3db0773391adcc4b36a05a97007d4e46772c')
pro = ts.pro_api()

#
#df = pro.trade_cal(exchange='', start_date='20210101', end_date='20200131', #fields='exchange,cal_date,is_open,pretrade_date', is_open='0')
df = pro.daily(trade_date='20210112')

df.head(5)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000726.SZ,20210112,6.15,6.26,6.13,6.17,6.18,-0.01,-0.1618,38379.37,23687.512
1,000727.SZ,20210112,2.40,2.44,2.40,2.44,2.42,0.02,0.8264,200573.12,48530.091
2,000728.SZ,20210112,8.56,8.98,8.45,8.95,8.59,0.36,4.1909,937750.49,818358.777
3,000729.SZ,20210112,7.25,7.51,7.23,7.32,7.32,0.00,0.0000,393041.98,289294.162
4,000731.SZ,20210112,4.64,4.70,4.63,4.65,4.65,0.00,0.0000,41997.50,19551.101